<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackbeanpot.com.gamepackcast">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    <application android:name="MyApplication"  android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/Theme.AppCompat">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EnterName" />
        <activity android:name="NumPlayers" />
        <activity android:name="Waiting" />
        <activity android:name="StartGame"/>
        <activity android:name="PickCard" />
        <activity android:name="HighLow" />
        <activity android:name="InsideOutside" />
        <activity android:name="SmokeFire" />
        <activity android:name="PickPlayer" />
    </application>

</manifest>
