
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7e7e7;
  color: #333;
  margin: 0;
  padding: 0 0 15px 0;
}

div#container {
  // offset for borders
  max-width: 1270px;
  margin: 0 auto;
  top: 0;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: white;

}

.row {
  float: left;
  overflow: hidden;
  display: block;
  width: 100%;
}

/** Splash screen */
.splash {
  margin-top: 300px;
  /*display: none;*/
}

.splash div {
  width: 1270px;
  height: 100%;
  text-align: center;
}

.splash div h2, .splash div h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/** Show Connected */
.show-connected {
  margin-top: 300px;
  text-align: center;
  display: none;
}

.show-connected .player {
  display: inline-block;
}
